<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Devkim</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Site</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <style>
      .navbar-light{
        background: #D78E1B;
        background: -moz-linear-gradient(left, #D78E1B 0%, #A4A01B 50%, #53392A 100%);
        background: -webkit-linear-gradient(left, #D78E1B 0%, #A4A01B 50%, #53392A 100%);
        background: linear-gradient(to right, #D78E1B 0%, #A4A01B 50%, #53392A 100%);
      }
  </style>